@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Removig browser's default styles (حذف استایل های پیش فرض مرورگر) */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Defining project's global colors (تعریف رنگ های استفاده شده در پروژه) */
:root {
    --bg-color: rgb(8, 8, 16);
    --gradient-start: red;
    --gradient-end: blue;
    --dark-text: black;
    --light-text: white;
    --pointer-color: white;
}

/* Applying basic styles to body element (اعمال استایل های اولیه بر المان body) */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    font-family: 'Poppins', sans-serif;
}

/* Main container styles (استایل های کانتینر اصلی) */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 50px;
    gap: 100px;
}

/* Visualizer styles (استایل های شکل خروجی) */
.visualizer {
    --border-code: 10%;
    /* The `border-code` variable will be updated via JavaScript
    and its value will be applied to the `border-radius` property of the visualizer. */

    /* Setting a fixed `width` and `height` for visualizer */
    width: 280px;
    height: 280px;

    /* Settign a `linear-gradient` background for visualiser */
    background-image: linear-gradient(to top right, var(--gradient-start), var(--gradient-end));

    /* Applying `border-code` on `border-radius` property */
    border-radius: var(--border-code);

    position: relative;
    z-index: 0;
}

/* Creating visualizer's dashed line box (ایجاد کادر خط چین دور باکس) */
.visualizer::before {
    content: '';
    width: 100%;
    height: 100%;
    border: 2px dashed gray;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
}

.visualizer .visualizer_pointer {
    --pointer-place: 10%;

    width: 15px;
    height: 15px;
    background-color: var(--pointer-color);
    border-radius: 50%;
    border: 2px solid var(--dark-text);
    cursor: pointer;
    position: absolute;
    z-index: 1;
}

.visualizer .visualizer_pointer::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--light-text);
    border-radius: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    opacity: 0.5;
    z-index: 0;
    transition: all 0.2s ease;
    scale: 0;
}

.visualizer .visualizer_pointer:hover::before {
    scale: 1.8;
}

.visualizer .visualizer_pointer[data-movement="vertical"][data-border="1-3"] {
    bottom: var(--pointer-place);
    left: 0;
    translate: -50% 50%;
}

.visualizer .visualizer_pointer[data-movement="vertical"][data-border="1-2"] {
    bottom: var(--pointer-place);
    right: 0;
    translate: 50% 50%;
}

.visualizer .visualizer_pointer[data-movement="vertical"][data-border="1-0"] {
    top: var(--pointer-place);
    left: 0;
    translate: -50% -50%;
}

.visualizer .visualizer_pointer[data-movement="vertical"][data-border="1-1"] {
    top: var(--pointer-place);
    right: 0;
    translate: 50% -50%;
}

.visualizer .visualizer_pointer[data-movement="horizental"][data-border="0-3"] {
    bottom: 0;
    left: var(--pointer-place);
    translate: -50% 50%;
}

.visualizer .visualizer_pointer[data-movement="horizental"][data-border="0-2"] {
    bottom: 0;
    right: var(--pointer-place);
    translate: 50% 50%;
}

.visualizer .visualizer_pointer[data-movement="horizental"][data-border="0-0"] {
    top: 0;
    left: var(--pointer-place);
    translate: -50% -50%;
}

.visualizer .visualizer_pointer[data-movement="horizental"][data-border="0-1"] {
    top: 0;
    right: var(--pointer-place);
    translate: 50% -50%;
}

.output-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.output-section .output-code {
    background-color: var(--light-text);
    color: var(--dark-text);
    padding: 10px;
    word-spacing: 10px;
    border-radius: 10px 0 0 10px;
}

.output-section .output-button {
    height: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background-image: linear-gradient(to top right, var(--gradient-start), var(--gradient-end));
    color: var(--light-text);
    text-decoration: none;
    font-weight: 500;
    border-radius: 0 10px 10px 0;
}